<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <form action="/auth_route/todo" method="post">
    <section class="navbar">
      <div id="navbar">
        <a href="#default" id="logo">FOOTBLIZZ</a>
        <div id="navbar-right">
          <a href="#matches">Book Tickets</a>
          <a href="/cancel">Cancel Tickets</a>
          <a href=""><button class="sub_button" type="submit" name="whattodo" value="contact">Contact</button></a>
          <a href="#footer">About</a>
          <a href=""><button class="sub_button" type="submit" name="whattodo" value="view_profile">Profile</button></a>
          <a href="/">Logout</a>
        </div>
      </div>
    </section>
  
    <div style=" background-image: url(https://i.pinimg.com/originals/3e/4a/ef/3e4aef224f8d0b7cd97b4b8a2ced44d8.jpg); background-repeat : no-repeat; background-size: 1650px 700px; padding-top: 80px; padding-bottom:90px; height: 700px;">
      <main >
      
     <!-- DEMO HTML -->
          <div class="container">
                 <div class="slider">
                     <div class="box1 box">
                         <div class="bg"></div>
                         <div class="details">
                             <h1>WELCOME TO PHOENIX STADIUM</h1>
                             <!-- <p>
                                checkout the details
                             </p> -->
                               <!-- <a href="https://www.stadiumguide.com/nuevoestadioatleticomadrid/"  > <button>Check Now</button> </a> -->
                         </div>
                     </div>
                     <div class="box2 box">
                         <div class="bg"></div>
                         <div class="details">
                             <h1>Experience the best matches on Staggering Field</h1>
                             <p>
                             </p>
                             <!-- <a href="https://www.besoccer.com/"> <button>Check Now</button> </a> -->
                         </div>
                     </div>
                  <div class="box3 box">
                         <div class="bg"></div>
                         <div class="details">
                             <h1>Witness one of the finest infrastructures</h1>
                             <p>
   
                             </p>
                             <!-- <a href="https://ik.imagekit.io/enmedia/Football/seating-plans/santiago-bernabeu.jpg"  > <button>Check Now</button> </a> -->
                         </div>
                     </div>
                     <div class="box4 box">
                         <div class="bg"></div>
                         <div class="details">
                             <h1>Enjoy your match with delicious food</h1>
                             <p>
   
                             </p>
                         <!-- <a href="https://mercedesbenzstadium.com/wp-content/uploads/2019/03/image002.jpg"  > <button>Check Now</button> </a> -->
                         </div>
                     </div>
                     <div class="box5 box">
                         <div class="bg"></div>
                         <div class="details">
                             <h1>Know whats around the stadium</h1>
                             <p>
   
                             </p>
                               <!-- <a href="https://www.stadiumguide.com/nuevoestadioatleticomadrid/"  > <button>Check Now</button> </a> -->
                         </div>
                     </div>
                 </div>
                 <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
                 <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
                 <div class="trail">
                         <div class="box1 active">1</div>
                         <div class="box2">2</div>
                         <div class="box3">3</div>
                         <div class="box4">4</div>
                         <div class="box5">5</div>
                 </div>
             </div>
             
      </main>
     </div>
     
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script>
    <script src="js/animated-slider.js"></script>
    <table>
      <div id="matches">
    
    
    <tr>
    <td >
    
    <div class="bc aaa">
      <img src="https://thumbs.dreamstime.com/b/qatar-football-soccer-d-render-illustration-81957415.jpg " alt="pl vs paris" >
    </div>
    
    </td>
    <td >
      <div class="ab aaa qq">
        <img src="https://www.golisports.com/wp-content/uploads/2018/07/Brazil-VS-Belgium.jpg" alt="brazil vs belgium" class="image" >
        <div class="matter">
    
    
          <h2 class="text" style="color:#3C2317 ;">
            Brazil vs Belgium
            2nd Dec 2022
         <button type="submit" name="game_id" value="101" class="confirm">Book Now</button>
      </h2>
    
      </div>
      </div>
    </td>
    <td >
      <div class="ab aaa">
        <img src="https://static.standard.co.uk/2021/07/09/14/euro2020capatainsfinal0907.jpg" alt="pl vs paris" class="image">
        <div class="matter">
    
    
        <h2 class="text"  style="color:#3C2317 ;">
          Italy <br>vs England 
          15th Dec 2022
         <button type="submit" name="game_id" value="102" class="confirm">Book Now</button>
      </h2>
    
      </div>
      </div>
    </td>
    </tr>
    
    <tr>
    <td class="bc aaa">
    
    
      <img src="https://thumbs.dreamstime.com/b/red-wall-soccer-ball-d-rendering-illustration-146052754.jpg " alt="pl vs paris" >
    
    </td>
    <td class="ab aaa">
      <img src="https://dailypost.ng/wp-content/uploads/2018/06/portugal-VS-Spain.jpg" alt="fc vs bh" class="image">
      <div class="matter">
    
    
      <h2 class="text"  style="color:#3C2317 ;">
        Portugal vs Spain
        3rd Jan 2023
       <button type="submit" name="game_id" value="103" class="confirm">Book Now</button>
    </h2>
    
    </div>
    </td>
    <td class="ab aaa">
      <img src="https://www.golisports.com/wp-content/uploads/2018/06/france-VS-Argentina.jpg" alt="am vs jr" class="image"
      >
      <div class="matter">
    
    
      <h2 class="text"  style="color:#3C2317 ;">
        France vs Argentina
        29th jan 2023
       <button type="submit" name="game_id" value="104" class="confirm">Book Now</button>
    </h2>
    
    </div>
    </td>
    </tr>
    
    
    </div>
    </table>
    
    
    <style>
    img{
    
       border-radius: 8px;
      height: 350px;
      width: 380px;
    
    }
    
    .aaa{
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 30px;
      transition: transform .5s;
    
    
    }
    .aaa:hover{
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.1);
    
    
    }
    .sub_button{
  background-color: #000;
  color:white;
}
    
    .ab{
      position: relative;
      cursor: pointer;
            overflow: hidden;
    
    }
    /* .ab:hover{
    
    } */
    .ab .text{
      position: absolute;
    }
    #matches{
      padding-bottom: 60px;
    
    
    }
    
    
    .ab .matter{
           background-color: #666666;
           position: absolute;
           top: 0;
           left: 0;
           color: #fff;
    
           transition: all 300ms ease-out;
           opacity: 0;
    
         }
    
    .ab:hover .matter {
        opacity: 1;
          }
    
          .ab .text {
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
            transform: translateY(30px);
            -webkit-transform: translateY(30px);
            font-size: 1.5em;
           text-transform: uppercase;
           opacity: 0;
           transition-delay: 0.2s;
           transition-duration: 0.3s;
           padding-left: 90px;
           padding-top: 150px;
          text-align: left;
          }
    
          .ab:hover .text,
         .ab:focus .text {
           opacity: 1;
           transform: translateY(0px);
           -webkit-transform: translateY(0px);
         }
    
         .confirm{
           padding-left: 30px;
           padding-right: 30px;
           border-radius: 4px;
           padding-top: 10px;
           padding-bottom: 10px;
           color:black;
           background-color:#D9D7F1;
           border-color: #D9D7F1;
           transition: transform .5s;
           font-size: 16px;
         }
         .confirm:hover{
             background-color: black;
             color:white;
             -ms-transform: scale(1.2); /* IE 9 */
             -webkit-transform: scale(1.2); /* Safari 3-8 */
             transform: scale(1.1);
    
         }
         .image:hover{
           opacity:0.15;
    
         }
    
    
    </style>

<div style="background-color: #FFD6EC; padding-top:0px">

  <section id="press" style="padding-top:100px ;  background: transparent; ">
    <img class="press-logo" src="https://lifebeyondsportmedia.com/bestanden/Football-Sponsors/redbull.jpg" alt="tc-logo" style="height: 80px; width: 210px; padding-right: 50px; padding-left:60px;">
    <img class="press-logo" src="https://i.pinimg.com/736x/be/83/2d/be832d3e3417922b13694ebdc43d23fa--under-armour-the-message.jpg" alt="tnw-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://sm.imgix.net/16/02/premier-league-logo.jpg?w=1200&h=1200&auto=compress,format&fit=clip" alt="biz-insider-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://www.indiansuperleague.com/static-resources/images/cssimages/isl-200x200.png" alt="mashable-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://cdn.ultiworld.com/wordpress/wp-content/uploads/2015/04/coca-cola.jpg" alt="mashable-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://www.kindpng.com/picc/m/452-4526348_football-sponsor-hd-png-download.png" alt="mashable-logo" style="height: 80px; width: 150px; padding-right: 50px; background: transparent;">
    <img class="press-logo" src="https://www.realmadrid.com/cs/Satellite?blobcol=urldata&blobheader=image%2Fjpeg&blobkey=id&blobtable=MungoBlobs&blobwhere=1203411653418&ssbinary=true" alt="mashable-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://1.bp.blogspot.com/-IAgqNt3V2Yw/X2l93589cSI/AAAAAAAAims/rmIVyE-Ilt4uakFqqrOMURMk4gbtkaoagCNcBGAsYHQ/s566/Opel-Meriva-LogoBig.png" alt="mashable-logo" style="height: 80px; width: 150px; padding-right: 50px;">
    <img class="press-logo" src="https://www.jfa.jp/img/cache/551b979d-3660-44c3-b0a9-3b0dd3093d95.png" alt="tc-logo" style="height: 80px; width: 150px; padding-right: 50px; ">
  
    <img class="press-logo" src="https://seeklogo.com/images/F/Ferrari_Emblem-logo-431E232AFD-seeklogo.com.png" alt="biz-insider-logo" style="height: 110px; width: 440px; padding-right: 50px; padding-top: 30px;padding-left: 290px;">
    <img class="press-logo" src="http://4.bp.blogspot.com/-thI9dcKpO7s/UW-wJhh1rgI/AAAAAAAAJEY/5yo9B0ilVLo/s1600/Logo_Pepsi_Cola.jpg" alt="biz-insider-logo" style="height: 110px; width: 150px; padding-right: 50px; padding-top: 30px;">
    <img class="press-logo" src="https://www.senior-vacances.com/wp-content/uploads/2019/12/image-center-parcs-logo.jpg" alt="biz-insider-logo" style="height: 110px; width: 150px; padding-right: 50px; padding-top: 30px;">
    <img class="press-logo" src="https://media.designrush.com/inspiration_images/137088/conversions/_1525811908_162_Starbucks-Logo-Full-mobile.jpg" alt="biz-insider-logo" style="height: 110px; width: 150px; padding-right: 50px; padding-top: 30px;">
    <img class="press-logo" src="https://pngroyale.com/wp-content/uploads/2021/11/Download-pin-subway-logo-png-.png" alt="biz-insider-logo" style="height: 110px; width: 150px; padding-right: 50px; padding-top: 30px;">
    <img class="press-logo" src="https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/news8582.jpg" alt="biz-insider-logo" style="height: 110px; width: 150px; padding-right: 50px; padding-top: 30px;">
    
  
  </section>
  
  


  <footer id="footer">
    <a href="https://twitter.com/fifacom"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="https://www.facebook.com/fifaworldcup/"><i class="fa fa-facebook fa-3x"></i></a>
    <a href="https://www.instagram.com/fifaworldcup/"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="https://www.youtube.com/channel/UCpcTrCXblq78GZrTUTLWeBw"><i class="fa fa-youtube fa-3x"></i></a>
    <br>
    <p style="color:black ; font-size:large; ">© Copyright FIFAA </p>
  </footer>
    <input type="hidden" name="email_id" value="<%=email_id%>">
  </form>


  <style>
    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
    html {
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-size: 62.5%;
    }
    @media only screen and (max-width: 800px) {
      html {
        font-size: 57%;
      }
    }
    body {
      background-color: #000;
      color: #fff;
    }
    @media only screen and (max-width: 1000px) {
      body {
        padding: 0;
      }
    }
    .container {
      position: relative;
      overflow: hidden;
      border-radius: 5rem;
      padding-left: 0%;
      padding-top: 0px;
      
    }
    @media only screen and (max-width: 1000px) {
      .container {
        border-radius: 0;
      }
    }
    
    .slider {
      display: flex;
      width: 500%;
      height: 55rem;
      transition: all 0.25s ease-in;
      transform: translateX(0);
    }
    @media only screen and (max-width: 1000px) {
      .slider {
        height: 100vh;
      }
    }
    .slider .box {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      overflow: hidden;
      position: relative;
    }
    @media only screen and (max-width: 650px) {
      .slider .box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
    }
    .slider .box .bg {
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.2);
      width: 55%;
      transform: skewX(7deg);
      position: absolute;
      height: 100%;
      left: -10%;
      padding-left: 20rem;
      transform-origin: 0 100%;
    }
    @media only screen and (max-width: 800px) {
      .slider .box .bg {
        width: 65%;
      }
    }
    @media only screen and (max-width: 650px) {
      .slider .box .bg {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        transform: skewX(0deg);
      }
    }
    .slider .box .bg::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: inherit;
      pointer-events: none;
      transform: skewX(10deg);
    }
    @media only screen and (max-width: 650px) {
      .slider .box .bg::before {
        width: 120%;
        bottom: 0;
        transform: skewX(0deg);
      }
    }
    .slider .box .details {
      padding: 5rem;
      padding-left: 10rem;
      z-index: 100;
      grid-column: 1/span 1;
      grid-row: 1/-1;
    }
    @media only screen and (max-width: 650px) {
      .slider .box .details {
        grid-row: 2/span 1;
        grid-column: 1/-1;
        text-align: center;
        padding: 2rem;
        transform: translateY(-9rem);
      }
    }
    .slider .box .details h1 {
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    .slider .box .details p {
      display: inline-block;
      font-size: 1.3rem;
      color: #B5B4B4;
      margin-bottom: 2rem;
      margin-right: 5rem;
    }
    @media only screen and (max-width: 800px) {
      .slider .box .details p {
        margin-right: 0;
      }
    }
    .slider .box .details button {
      padding: 1rem 3rem;
      color: #fff;
      border-radius: 2rem;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .slider .box .details button:hover {
      opacity: 0.8;
    }
    
    @media only screen and (max-width: 650px) {
      .slider .illustration {
        grid-row: 1/span 1;
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .slider .illustration div {
      height: 25rem;
      width: 18rem;
      border-radius: 3rem;
      background-color: #FF0077;
      position: relative;
      transform: skewX(-10deg);
    }
    @media only screen and (max-width: 800px) {
      .slider .illustration div {
        height: 20rem;
        width: 15rem;
      }
    }
    .slider .illustration div::after, .slider .illustration div::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 3rem;
      top: 0;
      left: 0;
    }
    .slider .illustration div::after {
      transform: translate(4rem, -1rem);
    }
    .slider .illustration div::before {
      transform: translate(2rem, -2rem);
    }
    
    .prev,
    .next,
    .trail {
      z-index: 10000;
      position: absolute;
    }
    
    .prev,
    .next {
      width: 4rem;
      cursor: pointer;
      opacity: 0.2;
      transition: all 0.3s ease;
    }
    @media only screen and (max-width: 650px) {
      .prev,
    .next {
        display: none;
      }
    }
    .prev:hover,
    .next:hover {
      opacity: 1;
    }
    
    .prev {
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
    }
    
    .next {
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
    }
    
    
    .trail {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 650px) {
      .trail {
        width: 90%;
        bottom: 13%;
      }
    }
    .trail div {
      padding: 2rem;
      border-top: 3px solid #fff;
      cursor: pointer;
      opacity: 0.3;
      transition: all 0.3s ease;
    }
    .trail div:hover {
      opacity: 0.6;
    }
    @media only screen and (max-width: 650px) {
      .trail div {
        padding: 1rem;
      }
    }
    
    .active {
      opacity: 1 !important;
    }
    .box1 {
      background-image: url(https://madridpourvous.com/wp-content/uploads/2019/07/estadio-del-madrid.jpg);
      background-size: 1000px 600px;
    background-repeat: no-repeat;
    
    }
    .box3{
      background-image: url(http://stadiumdb.com/img/news/2017/04/15madrid2.jpg);
        background-size: 1000px 600px;
      background-repeat: no-repeat;
    }
    
    .box2{
      background-image: url(https://www.signify.com/content/dam/signify/en-aa/about/blog/lifestyle/lighting-up-europes-football-final/Wanda-Metropolitano-thumb.jpg);
    background-size: 1000px 600px;
    
    background-repeat: no-repeat;
    }
    
    .box4{
      background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220318/pngtree-real-photos-of-hamburger-french-fries-coke-and-fast-food-image_1034708.jpg);
    
      background-size: 1000px 550px;
    
      background-repeat: no-repeat;
    
    }
    
    .box5{
      background-image: url(https://www.duranelectronica.com/english/wp-content/uploads/2017/06/wanda-metropolitano.jpg);
      background-size: 1000px 550px;
    
      background-repeat: no-repeat;
    
    
    }
    
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    *{ margin: 0; padding: 0;}
    body{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      font-size: 15px;
      background: #eee;
    }
    .intro{
       background: #fff;
       padding: 60px 30px;
       color: #333;
       margin-bottom: 15px;
       line-height: 1.5;
       text-align: center;
    }
    .intro h1 {
       font-size: 18pt;
       padding-bottom: 15px;
    
    }
    .intro p{
       font-size: 14px;
    }
    
    .action{
       text-align: center;
       display: block;
       margin-top: 20px;
    }
    
    a.btn {
      text-decoration: none;
      color: #666;
       border: 2px solid #666;
       padding: 10px 15px;
       display: inline-block;
       margin-left: 5px;
    }
    a.btn:hover{
       background: #666;
       color: #fff;
        transition: .3s;
    -webkit-transition: .3s;
    }
    .btn:before{
      font-family: FontAwesome;
      font-weight: normal;
      margin-right: 10px;
    }
    .github:before{content: "\f09b"}
    .down:before{content: "\f019"}
    .back:before{content:"\f112"}
    .credit{
        background: #fff;
        padding: 12px;
        font-size: 9pt;
        text-align: center;
        color: #333;
        margin-top: 40px;
    
    }
    .credit span:before{
       font-family: FontAwesome;
       color: #e41b17;
       content: "\f004";
    
    
    }
    .credit a{
       color: #333;
       text-decoration: none;
    }
    .credit a:hover{
       color: #1DBF73;
    }
    .credit a:hover:after{
        font-family: FontAwesome;
        content: "\f08e";
        font-size: 9pt;
        position: absolute;
        margin: 3px;
    }
   
    
    article li{
       color: #444;
       font-size: 15px;
       margin-left: 33px;
       line-height: 1.5;
       padding: 5px;
    }
    article h1,
    article h2,
    article h3,
    article h4,
    article p{
       padding: 14px;
       color: #333;
    }
    article p{
       font-size: 15px;
        line-height: 1.5;
    }
    
    @media only screen and (min-width: 1280px){
        main{
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
          
        }
    }
    
    .set-overlayer,
    .set-glass,
    .set-sticky {
      cursor: pointer;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      color: #333;
      font-size: 16px;
    }
    .set-overlayer:after,
    .set-glass:after,
    .to-active:after,
    .set-sticky:after {
      font-family: FontAwesome;
      font-size: 18pt;
      position: relative;
      float: right;
    }
    .set-overlayer:after,
    .set-glass:after,
    .set-sticky:after {
      content: "\f204";
      transition: .6s;
    }
    
    .to-active:after {
      content: "\f205";
      color: #008080;
      transition: .6s;
    }
    .set-overlayer,
    .set-glass,
    .set-sticky,
    .source,
    .theme-tray {
      margin: 10px;
      background: #f2f2f2;
      border-radius: 5px;
      border: 2px solid #f1f1f1;
      box-sizing: border-box;
    }
    
    pre.prettyprint {
      padding: 15px !important;
       margin: 10px;
      border: 0 !important;
      background: #f2f2f2;
      overflow: auto;
    }
    
    .source {
      white-space: pre;
      overflow: auto;
      max-height: 400px;
    }
    code{
        border:1px solid #ddd;
        padding: 2px;
        border-radius: 2px;
    }
    #navbar {
      overflow: hidden;
      background-color: #000000;
      padding: 10px 10px; 
      transition: 0.4s;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 99;
    }
    #navbar a {
      float: left;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }
    #navbar #logo {
      font-size: 35px;
      font-weight: bold;
      transition: 0.4s;
    }
    #navbar a:hover {
      color: rgb(190, 186, 186);
    }
    #navbar-right {
      float: right;
      position: relative;
    }
    @media screen and (max-width: 80px) {
      #navbar {
        padding: 20px 10px !important;
      }
      #navbar a {
        float: none;
        display: block;
        text-align: left;
      }
      #navbar-right {
        float: none;
      }
    }
    .button {
      background-color: #000000;
      border: none; 
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    a:hover{
      color: rgb(190, 186, 186);
    }
    #footer{
      padding: 3% 15%;
      text-align: center;
    }
    .fa{
      color: #000000;
      padding: 1%;
    }
    #footer a:hover{
      color:  rgb(190, 186, 186);
    }
    .grow img{
      transition: 1s ease;
    }
        
    .grow img:hover{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 1s ease;
    }
    </style>


<script>
const slider = document.querySelector(".slider")
const trail = document.querySelector(".trail").querySelectorAll("div")
let value = 0
let trailValue = 0
let interval = 4000
const slide = (condition) => {
  clearInterval(start)
  condition === "increase" ? initiateINC() : initiateDEC()
  move(value, trailValue)
  animate()
  start = setInterval(() => slide("increase"), interval);
}
const initiateINC = () => {
  trail.forEach(cur => cur.classList.remove("active"))
  value === 80 ? value = 0 : value += 20
  trailUpdate()
}
const initiateDEC = () => {
  trail.forEach(cur => cur.classList.remove("active"))
  value === 0 ? value = 80 : value -= 20
  trailUpdate()
}
const move = (S, T) => {
  slider.style.transform = `translateX(-${S}%)`
  trail[T].classList.add("active")
}
const tl = gsap.timeline({defaults: {duration: 0.6, ease: "power2.inOut"}})
tl.from(".bg", {x: "-100%", opacity: 0})
.from("p", {opacity: 0}, "-=0.3")
.from("h1", {opacity: 0, y: "30px"}, "-=0.3")
.from(".check", {opacity: 0, y: "-40px"}, "-=0.8")
const animate = () => tl.restart()
const trailUpdate = () => {
  if (value === 0) {
      trailValue = 0
  } else if (value === 20) {
      trailValue = 1
  } else if (value === 40) {
      trailValue = 2
  } else if (value === 60) {
      trailValue = 3
  } else {
      trailValue = 4
  }
}
let start = setInterval(() => slide("increase"), interval)
document.querySelectorAll("svg").forEach(cur => {
  cur.addEventListener("click", () => cur.classList.contains("next") ? slide("increase") : slide("decrease"))
})
const clickCheck = (e) => {
  clearInterval(start)
  trail.forEach(cur => cur.classList.remove("active"))
  const check = e.target
  check.classList.add("active")

  if(check.classList.contains("box1")) {
      value = 0
  } else if (check.classList.contains("box2")) {
      value = 20
  } else if (check.classList.contains("box3")) {
      value = 40
  } else if (check.classList.contains("box4")) {
      value = 60
  } else {
      value = 80
  }
  trailUpdate()
  move(value, trailValue)
  animate()
  start = setInterval(() => slide("increase"), interval)
}
trail.forEach(cur => cur.addEventListener("click", (ev) => clickCheck(ev)))
const touchSlide = (() => {
  let start, move, change, sliderWidth

  slider.addEventListener("touchstart", (e) => {
      start = e.touches[0].clientX
      sliderWidth = slider.clientWidth/trail.length
  })

  slider.addEventListener("touchmove", (e) => {
      e.preventDefault()
      move = e.touches[0].clientX
      change = start - move
  })

  const mobile = (e) => {
      change > (sliderWidth/4)  ? slide("increase") : null;
      (change * -1) > (sliderWidth/4) ? slide("decrease") : null;
      [start, move, change, sliderWidth] = [0,0,0,0]
  }
  slider.addEventListener("touchend", mobile)
})()
</script>
</body>
</html>